<h1> Welcome to XXX </h1>
<h4> your portal to the unexplored </h4>


<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter any special interests or must-sees">
  </div>
  <button type="submit" class="btn btn-default">TAKE ME THERE</button>
</form>
<br/>
<%= link_to "See all attractions", attractions_path %>